# Compiled class file

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.tar.gz
*.rar
*.iml
.idea


*/target

/doc/大华/808210_General_NetSDK_ChnEng_JAVA64_IS_V3.050.0000005.3.R.190304/
/doc/大华/949322_General_NetSDK_Chn_Win64_IS_V3.051.0000005.1.R.190910/
/doc/海康/视频web插件_V1.3.2_20190929_20191113142925/视频web插件_V1.3.2_20190929/
